#container {
    border: 1px solid black;
    margin: 10px auto; 
    width: fit-content;
    border-radius: 30px;
    padding: 10px;
}

#field {
    border: 1px solid rgb(245, 4, 4);
    border-radius: 20px;
    margin: 10px;
    background-image: url(img/wood.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
    width: 700px;
}

#ball {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    background-color: rgb(16, 27, 129);
    position: absolute;
    background-size: cover;
    transition: background-image 0.3s;
    height: 70px;
    width: 70px;
}

.rotate {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
}
